@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rye&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a:focus, button:focus{
  outline:none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}
.name-as-logo {
  font-family: "Rye", cursive;
}

.translate-y-mid {
  transform: translateY(-50%);
}
.translate-x-mid {
  transform: translateX(-50%);
}
